Package: com.pookjw.actionbuttonenabler
Name: ActionButtonEnabler
Version: 1.0.1
Architecture: iphoneos-arm64
Description: Hello World!
Maintainer: pookjw
Author: pookjw
Section: Tweaks
Depends: firmware (>= 17.0)
